<div class="weather-container">
	<div class="weather-card">
		<div class="toolbar">
			<a routerLink="/manage">
				<img src="/assets/icons/icon-plus.svg">
			</a>
			<div class="title">
				<span class="city">{{ weatherData?.name }}</span>
				<div class="points" >
					<span class="point" *ngFor="let city of cities"></span>
				</div>
			</div>
			<a routerLink="/settings">
				<img src="/assets/icons/icon-burger.svg">
			</a>
		</div>
		<div class="current-weather">
			<div class="main">
				<div class="icon">
					<img [src]="weatherData?.icon" class="icon-current-weather" alt="Weather icon"/>
				</div>
				<div class="data">
					<div class="date">
						<span class="value">{{ date | date: 'EEEE':'':'en-US' }}</span>
						<span class="value">{{ date | date: 'MMM d':'':'en-US' }}</span>
					</div>
					<span class="temperature">
						<div class="value">
							{{ weatherData?.temp | number:'1.0-0' }}
							<div class="point"></div>
						</div>
						<span class="description">{{ weatherData?.description }}</span>
					</span>
				</div>
			</div>
			<div class="details">
				<div class="detail">
					<div class="icon">
						<img src="/assets/icons/icon-wind.svg" alt="wind">
					</div>
					<div class="value">
						{{ (weatherData?.wind | number:'1.0-1') + ' ' + settings.windUnit }}
						<div class="title">Wind</div>
					</div>
				</div>
				<div class="detail">
					<div class="icon">
						<img src="/assets/icons/icon-cloud.svg" alt="cloud">
					</div>
					<div class="value">
						74%
						<div class="title">Chance of rain</div>
					</div>
				</div>
				<div class="detail">
					<div class="icon">
						<img src="/assets/icons/icon-pressure.svg" alt="pressure">
					</div>
					<div class="value">
						{{ (weatherData?.pressure | number:'1.0-1') + ' ' + settings.pressureUnit }}
						<div class="title">Pressure</div>
					</div>
				</div>
				<div class="detail">
					<div class="icon">
						<img src="/assets/icons/icon-humidity.svg" alt="humidity">
					</div>
					<div class="value">
						83%
						<div class="title">Humidity</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="weather-five-hours">
		<div class="date">
			<span class="value">{{ date | date: 'EEEE':'':'en-US' }}</span>
			<span class="value">{{ date | date: 'MMM d':'':'en-US' }}</span>
		</div>
		<div class="hours">
			<div class="card" *ngFor="let forecast of hourlyForecast">
				<span class="time">{{ forecast.date | date : "shortTime" }}</span>
				<img [src]="forecast.icon" class="icon-forecast" alt="icon" />
				<span class="temperature">{{ (forecast.temp | number:'1.0-0')  + '°/' + (forecast.feelsLike | number:'1.0-0') + '°' }}</span>
				<span class="wind">
					<img src="/assets/icons/icon-wind.svg" alt="wind">
					{{ forecast.wind }}  m/s
				</span>
			</div>
		</div>
	</div>
	<a class="link-mobile">
		<span>Forecasts for 7 Days</span>
		<img src="/assets/icons/icon-arrow-down.svg" alt="">
	</a>
</div>
